# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.laiSZ
*.la
*.a
*.lib

# Executables
*.exe
*.app
bin/

tests/results.csv

# IntelliJ Support
*.iml
*.ipr
*.iws
.idea/
